.simplebar-track{
    opacity: 0.3;
    margin: 2px 2px;
}

.database-view-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    height: 120px;
    padding: 0 40px;

}

.view-title {
    font-weight: 600;
    font-size: 18px;
}

.search {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.15);
}

.database-action {
    margin-top: 24px;
    padding: 0 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add-staff-button {
    cursor: pointer;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #4084F8;
}

.add-staff-button p {
    font-size: 10px;
    font-weight: 500;
}

.database-list {
    margin-top: 20px;
    margin-bottom: 40px;
    margin: 20px 28px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.list-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 24px;
}

#list-header-name {
    font-size: 11px;
}

.database-tile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 24px;
    border-top: solid #E3E5E6 thin;
    
}

.database-tile:hover {
    background-color: #F1F5F9;
}

.tile-column {
    width: 200px;
}

.tile-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#staff-name {
    font-size: 12px;
    font-weight: 500;
}

#staff-id {
    font-size: 11px;
    font-weight: 400;
    color: #B1B9C1;
    margin-top: 4px;
}

#staff-position {
    font-size: 12px;
    font-weight: 400;
    color: #62646D;
}

#staff-location {
    font-size: 11px;
    font-weight: 400;
    color: #B1B9C1;
    margin-top: 4px;
}

.arrow-icon {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}