.tile-canvas {
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 500px;
    transition: max-height 0.3s ease-out;
}

/* exposed tile */
.tile {
    padding: 24px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    border-top: solid;
    border-top-color: #D2D2D2;
    border-width: thin;
}

#tile-expanded {
    max-height: 100px;
    transition: max-height 0.5s ease-out;
}

#name {
    width: 40%;
    font-size: 12px;
    font-weight: 500;
    margin-right: 16px;
}

#gross {
    width: 20%;
    font-size: 12px;
    font-weight: 400;
    margin-right: 16px;
}

#deduction {
    width: 20%;
    font-size: 12px;
    font-weight: 400;
    margin-right: 16px;
}

#net {
    font-size: 12px;
    font-weight: 500;
}

#net-wrapper {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-icon-button {
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#close-icon-inactive {
    font-size: 12px;
    transition: transform 0.2s ease-out;
}

#close-icon-active {
    font-size: 12px;
    transform: rotate(180deg);
    transition: transform 0.2s ease;
}

.fa-chevron-down {
    font-size: 12px;
}

/* hidden tile */
.hidden-tile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 24px 0px;
    background-color: #FAFAFA;
}

.salary-section {
    width: 30%;
    padding: 0 20px;
    border: none;
    border-right: solid;
    border-right-color: #D2D2D2;
    border-width: 1px;
}

#tax-title {
    margin-top: 28px;
}

.employee-section {
    width: 30%;
    padding: 0 20px;
    border: none;
    border-right: solid;
    border-right-color: #D2D2D2;
    border-width: 1px;
}

#others-title {
    margin-top: 28px;
}

.employer-section {
    width: 30%;
    padding: 0 20px;
}

.section-title {
    font-size: 10px;
    font-weight: 600;
    color: #707070;
    padding-bottom: 8px;
}

.section-row {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.section-row-title {
    font-weight: 600;
}