.tile-canvas {
    display: flex;
    flex-direction: column;
    border-top: solid #EBEBEB thin;
}

/* exposed tile */
.tile {
    padding: 36px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#tile-expanded {
    max-height: 100px;
}

.index-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.index-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #439D4B;
}

#id {
    font-size: 8px;
    font-weight: 500;
    color: #FFFFFF;
}

#name-wrapper {
    width: 50%;
    margin-right: 16px;
}

#name {
    font-size: 13px;
    font-weight: 600;
    
}

#position {
    width: 20%;
    font-size: 11px;
    font-weight: 500;
    color: #B1B9C1;
}

#deduction {
    width: 20%;
    font-size: 12px;
    font-weight: 500;
    margin-right: 16px;
}

#net {
    font-size: 12px;
    font-weight: 500;
}

#net-wrapper {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-icon-button {
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#close-icon-inactive {
    font-size: 12px;
    transition: transform 0.2s ease-out;
}

#close-icon-active {
    font-size: 12px;
    transform: rotate(180deg);
    transition: transform 0.2s ease;
}

.fa-chevron-down {
    font-size: 12px;
}

/* hidden tile */
.hidden-tile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 28px 16px;
    background-color: #F6F9F6;
    border-radius: 8px;
    margin-bottom: 28px;
    /* box-shadow: 0px 8px 24px rgba(112, 144, 176, 0.25); */
}

.salary-section {
    width: 30%;
    padding-right: 28px;
    padding-left: 12px;
    border: none;
    border-right: solid;
    border-right-color: #D2D2D2;
    border-width: 1px;
}

#tax-title {
    margin-top: 28px;
}

.employee-section {
    width: 30%;
    padding: 0 20px;
    border: none;
}

#others-title {
    margin-top: 28px;
}

.employer-section {
    width: 30%;
    padding-left: 28px;
    padding-right: 12px;
    border-left: solid;
    border-left-color: #D2D2D2;
    border-width: 1px;
}

.section-title {
    font-size: 10px;
    font-weight: 600;
    color: #707070;
    padding-bottom: 8px;
}

.section-row {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.section-row-title {
    font-weight: 600;
}