.quickbar-wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    width: 52px;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    /* box-shadow: 1px 0 10px #E3E5E6; */
    border-left: solid #E6E7EE thin;
    padding: 36px 28px;
    background-color: #FFFFFF;
    z-index: 2;
}
